    {{> head }}

     {{> navbar }}
  
      <div class="row">
          <div class="col-8">
              <h1>About</h1>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ab sit soluta reprehenderit quam officia sapiente debitis eligendi? Ipsum reiciendis dicta minima repellat eveniet labore alias impedit dolores soluta cum.</p>
          </div>
          <div class="col-4">
              <img src="assets/img/nodejs.png" class="img-thumbnail" alt="Nodejs">
          </div>
      </div>

    {{> footer }}